{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
    <script src="{{ STATIC_URL }}magmag_core/js/basket/basket.js" type="text/javascript"></script>
    <script type="text/javascript">
        var basket = new Basket('{{ site_domain }}');

        if(!basket.checkSupportHtml5Storage())
            alert("Storage unsupported");
        else{
            basket.getPurchaseItem(3);
        }

    </script>
{% endblock %}

{% block layout %}
    <div id="wrapper" class="wrapper">
        <header class="header">
            <a href="/"><img src="{{ STATIC_URL }}magmag_core/img/header.png"/></a>
        </header>
        {% block navmenu %}
            <nav>
                <ul class="top-menu">
                    <li><a href="/catalogue/">{% trans "Catalogue" %}</a></li>
                    <li><a href="/about/">{% trans "About us" %}</a></li>
                    <li><a href="/contact/">{% trans "Contact" %}</a></li>
                    <li class="basket last">
                        <div>
                            <a class="basket-link" href="#">{% trans "My shopping bug" %}</a>
                            <div class="basket-items">(0)</div>
                        </div>

                        <div class="basket-details">
                            <div>
                                <div class="basket-purchase">

                                </div>
                                <div class="basket-total">{% trans "Total: " %}<strong>0</strong>{% trans "$" %}</div>
                                <a class="basket-checkout" href="#">{% trans "Checkout" %}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        <section class="content_wrapper">
            {% block content_wrapper %}

            {% endblock %}
        </section>
    </div>
 {% comment %}   <footer class="footer">
        Created by
    </footer><!-- .footer -->{% endcomment %}
{% endblock %}