{% extends "base.html" %}
{% load i18n %}

{% block layout %}
    <div id="wrapper" class="wrapper">
        <header class="header">
            {% comment %}<img src="{{ STATIC_URL }}magmag_core/img/header.png"/>{% endcomment %}
        </header>
        {% block navmenu %}
            <nav>
                <ul class="top-menu">
                    <li class="first active"><a href="/catalogue/">{% trans "Catalogue" %}</a></li>
                    <li class="separator">&nbsp</li>
                    <li><a href="/about/">{% trans "About us" %}</a></li>
                    <li class="separator">&nbsp</li>
                    <li><a href="/contact/">{% trans "Contact" %}</a></li>
                </ul>
            </nav>
        {% endblock %}
        <section class="content_wrapper">
            {% block content_wrapper %}

            {% endblock %}
        </section>
    </div>
    <footer class="footer">
        <strong>Footer:</strong> Mus elit Morbi mus enim lacus at quis Nam eget morbi. Et semper urna urna non at cursus dolor vestibulum neque enim. Tellus interdum at laoreet laoreet lacinia lacinia sed Quisque justo quis. Hendrerit scelerisque lorem elit orci tempor tincidunt enim Phasellus dignissim tincidunt. Nunc vel et Sed nisl Vestibulum odio montes Aliquam volutpat pellentesque. Ut pede sagittis et quis nunc gravida porttitor ligula.
    </footer><!-- .footer -->
{% endblock %}