{% extends "base.html" %}
{% load i18n %}

{% block scripts %}
    <script src="{{ STATIC_URL }}magmag_core/js/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}magmag_core/js/utils.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}magmag_core/js/jplugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}magmag_core/js/basket/basket.js" type="text/javascript"></script>
    <script type="text/javascript">

    var basket = new Basket();
    var tmpl = '<div id="purchase_item_{0}" class="basket-item">' +
                '<a href="{1}">{2}</a>' +
                '<img src="{3}" />' +
                '<div><strong id="pi_count_{0}">{4}</strong> x <strong>{5}</strong>{% trans "$" %}<div onclick="deleteItem({0});" class="btn dtn-delete">{% trans "Delete" %}</div></div>' +
                '</div>';

    var delta_height = 0;
    function deleteItem(id)
    {
        basket.removePurchaseItem(id);
    }
    function setPurchaseCount(id, count)
    {
        basket.setPurchaseItemCount(id, count);
    }

    $(document).ready(function (){

        if(!basket.checkSupportHtml5Storage())
            alert("Storage unsupported");
        else{
            basket.init('{{ site_domain }}', $('.basket-purchase'), $('#basket_counter'), $('#basket_total_sum'), tmpl);
        }
        {% block doc_ready %}

        {% endblock %}
        $('.basket').click(
            function(e){
                if($('#basket_container').css('display') == 'none'){
                    if(basket.getPIListCount() > 0){
                        var row_count = Math.floor(basket.getPIListCount()/4)
                        row_count = basket.getPIListCount()/4 > row_count? row_count+1 : row_count
                        delta_height = 240 * row_count + 50;
                        $('#basket_container').css('display','block');
                        $('#basket_container').animate({height:delta_height},700);
                        $('#wrapper').height($('#wrapper').height()+delta_height);
                    }
                }
                else
                {
                    $('#basket_container').animate({height:0},700);
                    setTimeout(function() {
                        $('#basket_container').css('display','none');
                        $('#wrapper').height($('#wrapper').height()-delta_height);

                    }, 700);
                }
            }
        );
       {% comment %} $('#basket_container').hover(
            null,
            function(e){
                //if($('#basket_container').css('display') == 'block' && basket.getPIListCount() > 0){

                //}
            }

        );{% endcomment %}
        if($('#wrapper').height() < $('body').height()+30)
        {
            $('.content_wrapper').height($('#wrapper').height() - 250);
        }
    });

    </script>
{% endblock %}

{% block layout %}
    <div id="wrapper" class="wrapper">
        <header class="header">
            <a href="/"><img src="{{ STATIC_URL }}magmag_core/img/header.png"/></a>
        </header>
        {% block navmenu %}
            <nav>
                <ul class="top-menu">
                    <li><a href="/catalogue/">{% trans "Catalogue" %}</a></li>
                    <li><a href="/content/about">{% trans "About us" %}</a></li>
                    <li><a href="/content/contact">{% trans "Contact" %}</a></li>
                    <li class="basket last">
                        <div>
                            <a class="basket-link" href="#">{% trans "My shopping bug" %}</a>
                            <div class="basket-items">(<strong id="basket_counter">0</strong>)</div>
                        </div>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        {% block basket %}
            <div id="basket_container">
                <div class="basket-details">
                    <div class="basket-purchase"></div>
                    <div class="basket-checkout">
                        <a class="btn btn-checkout" onclick="basket.setToCookie();" href="{% url "magmag:order:checkout" %}">{% trans "Checkout" %}</a>
                        <div class="basket-total">{% trans "Total: " %}<strong id="basket_total_sum">0</strong>{% trans "$" %}</div>

                    </div>
                </div>
            <div class="cb"></div>
            </div>
        {% endblock %}
        <section class="content_wrapper">
            {% block content_wrapper %}

            {% endblock %}
        </section>
    </div>
    <footer class="footer">
    <div class="creator">
        Created by Rumpelstiltskin(c)
    </div>
    </footer><!-- .footer -->
{% endblock %}