{% extends "layout.html" %}
{% load i18n %}

{% block content_wrapper %}
    <aside class="left-sidebar-category-tree">

        <img class="catalogue_corner-top" src="{{ STATIC_URL }}magmag_core/img/rocaille_top.png"/>
        <div class="catalogue-tree">
            <ul>
            {% for item in categories %}
                {% if item == "in" %}
                    <div class="catalogue-tree-branch">
                        <ul>
                {% else %}
                    {% if item == "out" %}
                        </ul>
                        <div class="cb"> </div>
                    </div>
                        </li>
                    {% elif item != '' %}
                        <li>
                            <a href='{% url "magmag:catalogue:slug-catalogue-category" item.slug %}'>{{item.name}}</a>
                        {% if item.leaf %}
                        </li>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <img class="catalogue_corner-bottom" src="{{ STATIC_URL }}magmag_core/img/rocaille_bottom.png"/>

        <div class="vk-group-container">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 0, width: "150", height: "400", color1: 'FFFFFF', color2: '341409', color3: '341409'}, 48722465);
            </script>
        </div>

        </aside>
        <section class="catalogue-list" >
            <div class="product-container">
                {% for product in products %}
                    <div>
                        {% if product.image %}
                            <a href="{% url "magmag:catalogue:slug-catalogue-product" product.slug %}"><img class="catalogue-preview" src="{{ product.image.url }}"/></a>
                        {% else %}
                            <a href="{% url "magmag:catalogue:slug-catalogue-product" product.slug %}"><img src="{{ STATIC_URL }}/magmag_core/img/no_image.jpg"/></a>
                        {% endif %}
                        <div class="catalogue-product-name">
                                <img style="margin-right: 10px;" src="{{ STATIC_URL }}magmag_core/img/left_name.png"/>
                                {{ product.name }}
                                <img style="margin-left: 10px;" src="{{ STATIC_URL }}magmag_core/img/right_name.png"/>
                        </div>
                        <div class="catalogue-product-price">{{ product.price|floatformat:"0"  }}{% trans "$" %}</div>

                    </div>
                {% endfor %}
            </div>
        {% include "partials/paginator.html" %}
        </section>
{% endblock %}