{% load i18n %}
<script>
    //@ sourceURL={{ current_path }}.js
    Ext.onReady(init_page);
    function init_page()
    {
        var categories_store = new Ext.data.TreeStore({
            id: 'productCategoryTreeStore',
            model: 'Category',
            autoLoad: true,
            proxy: {
                type: 'ajax',
                url: '{% url "magmag:dashboard:categories" "json" %}',
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            }
        });

        Ext.create('Ext.data.JsonStore',{
            id: 'stores_{{ product.identifier }}_Store',
            storeId: 'stores_{{ product.identifier }}_Store',
            model: 'Store',
            autoLoad: true,
            proxy: {
                type: 'memory',
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            },
            data: {{ stores|safe }}

        });


        var productItems_store = new Ext.data.JsonStore({
            id: 'product_{{ product.identifier }}_ItemsStore',
            storeId: 'product_{{ product.identifier }}_ItemsStore',
            model: 'ProductItem',
            autoLoad: true,
            proxy: {
                type: 'memory',//'ajax',
                //url:{% if product.id %} '{% url "magmag:dashboard:product_items"  pk=product.id content_type="json" %}' {% else %}
                //'{% url "magmag:dashboard:product_items"  pk=0 content_type="json" %}' {% endif %},
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            },
            data: {{ product_items|safe }}

        });

        var productImages_store = new Ext.data.JsonStore({
            id: 'product_{{ product.identifier }}_ImageStore',
            storeId: 'product_{{ product.identifier }}_ImageStore',
            model: 'Image',
            autoLoad: true,
            proxy: {
                type: 'memory',
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            },
            sorters: [
                {
                    property: 'order'
                }
            ],
            data: {{ product_images|safe }}
        });



        categories_store.load();
        var tab = Ext.getCmp('{{ current_path }}');
        if (tab)
        {
            var container = new Ext.panel.Panel( {
                layout: 'fit',
                //title: '{% trans "Product" %}',
                id: '{{ current_path  }}_container',
                items: [
                    {
                        xtype:'panel',
                        layout: 'border',
                        items:[
                            {
                                xtype:'form',
                                title: '{% trans 'Main info' %}',
                                id: '{{ current_path  }}_productMainForm',
                                region:'center',
                                layout: {
                                        type: 'hbox',
                                        align: 'stretch'
                                },
                                border:true,
                                autoScroll:true,
                                cls:'pnlMainProductInfo',
                                items:[
                                    {
                                        xtype: 'panel',
                                        flex: 3,
                                        layout:'form',
                                        cls:'pnlFormDetail',
                                        minHeight: 310,
                                        items:[
                                            {
                                                xtype: 'hidden',
                                                id:'{{ current_path  }}_hdnId',
                                                value: {{ product.identifier }},
                                                name: 'id'
                                            },{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtName',
                                                fieldLabel: '{% trans 'Name' %}',
                                                name: 'name',
                                                value: '{{ product.name }}',
                                                allowBlank: false
                                            },{
                                                xtype: 'numberfield',
                                                id: '{{ current_path }}_numPrice',
                                                fieldLabel: '{% trans 'Price' %}',
                                                name: 'price',
                                                value: {{ product.price }},
                                                allowBlank: false
                                            },{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtArticle',
                                                fieldLabel: '{% trans 'Article' %}',
                                                name: 'article',
                                                value: '{{ product.article }}',
                                                allowBlank: false
                                            },Ext.create('Ext.ux.TreePicker', {
                                                store: categories_store,
                                                displayField: 'name',
                                                valueField: 'id',
                                                id:'{{ current_path  }}_cmbCategory',
                                                name: 'category',
                                                fieldLabel: '{% trans "Category" %}',
                                                allowBlank: false,
                                                value: {% if product.category %}{{ product.category.id }}{% else %}''{% endif %}
                                            }),{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtSlug',
                                                fieldLabel: '{% trans 'Slug' %}',
                                                name: 'slug',
                                                value: '{{ product.slug }}',
                                                allowBlank: false
                                            },{
                                                xtype: 'textareafield',
                                                id:'{{ current_path  }}_txtDescription',
                                                fieldLabel: '{% trans 'Description' %}',
                                                name: 'description',
                                                value: '{{ product.descr }}'
                                            },{
                                                xtype: 'filefield',
                                                name: 'image',
                                                id: '{{ current_path  }}_ffImage',
                                                fieldLabel: '{% trans "Preview" %}',
                                                buttonText: '{% trans "Select" %}...',
                                                //labelWidth: 50,
                                                //width:270,
                                                icon: '{{ STATIC_URL }}magmag_core/img/ext_icons/image_add.png',
                                                listeners: {
                                                    change: function(uploader, value, eOpts) {
                                                        var container = Ext.getCmp('{{ current_path  }}_pnlImagePreview');
                                                        if (container){
                                                            container.removeAll(true);
                                                            readImages(uploader.fileInputEl.dom, container);
                                                        }
                                                    }
                                                },
                                                value: {% if product.image %} '{{ product.image.url }}' {% else %} '' {% endif %}
                                            },{
                                                xtype:'checkbox',
                                                id:'{{ current_path  }}_chbHidden',
                                                fieldLabel: '{% trans 'Hide from site' %}',
                                                name: 'hidden',
                                                checked: {{ product.hidden|lower }}
                                            }
                                        ]
                                    },
                                    {
                                        xtype: 'panel',
                                        flex:2,
                                        cls:'pnlFormDetail',
                                        minHeight: 310,
                                        items:[
                                            {
                                                xtype: 'panel',
                                                collapsible: false,
                                                id:'{{ current_path  }}_pnlImagePreview',
                                                items:[
                                                    {
                                                        xtype:'image',
                                                        src: {% if product.image %} '{{ product.image.url }}' {% else %} '' {% endif %},
                                                        height:150
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]

                            },
                            {
                                xtype: 'panel',
                                id:'{{ current_path  }}_productImages',
                                region: 'south',
                                title:'{% trans 'Images' %}',
                                border: true,
                                height: '50%',
                                cls: 'images-view',
                                autoScroll:true,
                                items:[
                                    {
                                        xtype: 'dataview',
                                        store: productImages_store,
                                        id: '{{ current_path  }}_imagesDataView',
                                        tpl:new Ext.XTemplate(
                                            '<tpl for=".">',
                                                '<div class="thumb-wrap upload-image">',
                                                    '<input name="images-{order}-id" type="hidden" id="image_id_{{ product.identifier }}_{id}" value="{id}"/>',
                                                    '<label>',
                                                        '<input name="images-{order}-caption" type="text" id="image_caption_{{ product.identifier }}_{id}" value="{caption}" class="x-form-field x-form-text image-caption" />',
                                                    '</label>',
                                                    '<div class="thumb image-input">',
                                                        '<img id="image_{{ product.identifier }}_{id}" src="{src}" alt="thumbnail"/>',
                                                        '<div class="input-field">',
                                                            '<label>',
                                                                '<input value="{src}" name="images-{order}-original" type="file" id="image_input_{{ product.identifier }}_{id}" onchange="if(readURL_{{ product.identifier }}(this,{id})) addNewProductImage_{{ product.identifier }}();"  />',
                                                            '</label>',
                                                        '</div>',
                                                    '</div>',
                                                    '<label class="image-deleted"> {% trans 'Delete:' %}',
                                                        '<input name="images-{order}-DELETE" type="checkbox" id="image_deleted_{{ product.identifier }}_{id}" value="{deleted}" class="x-form-field x-form-checkbox x-form-cb" />',
                                                    '</label>',
                                                '</div>',
                                            '</tpl>',
                                            '<div class="x-clear"></div>'
                                        ),
                                        itemSelector: 'div.thumb-wrap',
                                        emptyText: '{% trans 'No images available' %}'
                                    }
                                ],
                                trackOver: true,
                                overItemCls: 'x-item-over'


                            },
                            {
                                xtype: 'panel',
                                region: 'east',
                                width: '40%',
                                layout: 'fit',
                                id: '{{ current_path }}_productItems',
                                title: '{% trans 'Product items' %}',
                                border: true,
                                items:[
                                    {
                                        xtype:'grid',
                                        layout: 'fit',
                                        store: productItems_store,
                                        multiSelect: false,
                                        autoScroll: true,
                                        cls: 'dashboard-grid',
                                        id: '{{ current_path }}_productItemsGrid',
                                        columns: [
                                            {
                                                text: '{% trans "Color" %}',
                                                flex: 2,
                                                sortable: true,
                                                dataIndex: 'color',
                                                field:{
                                                    xtype: 'textfield',
                                                    allowBlank: false
                                                }

                                            },{
                                                text: '{% trans "Size" %}',
                                                flex: 2,
                                                sortable: true,
                                                dataIndex: 'size',
                                                field:{
                                                    xtype: 'textfield',
                                                    allowBlank: false
                                                }

                                            },{
                                                xtype: 'actioncolumn',
                                                items:[
                                                    {
                                                        icon: '{{ STATIC_URL }}magmag_core/img/ext_icons/add.png',
                                                        tooltip: '{% trans "Add new" %}',
                                                        handler: function(grid, rowIndex, colIndex) {
                                                            var record = grid.getStore().getAt(rowIndex);
                                                            if(record)
                                                            {
                                                                var rest = {
                                                                    id: -record.data.rests.length,
                                                                    item_id: record.data.id,
                                                                    store_id: null,
                                                                    store_name: '',
                                                                    count: 0
                                                                };
                                                                record.data.rests.push(rest);
                                                                var innergrid = Ext.getCmp('{{ current_path }}_product_item_rests_'+record.data.id);
                                                                if(innergrid){
                                                                    innergrid.getStore().loadData(record.data.rests);
                                                                    //innergrid.refresh();
                                                                }
                                                            }

                                                        }
                                                    }
                                                ]
                                            }
                                        ],
                                        plugins: [{
                                            ptype: 'rowexpander',
                                            expandOnDblClick: false,
                                            rowBodyTpl: ['<div id="restsExpandPanel{id}" class="ux-row-expander-box"></div>']
                                        }, new Ext.grid.plugin.CellEditing( {
                                                clicksToEdit: 1
                                            })
                                        ],
                                        viewConfig: {
                                            stripeRows: false,
                                            listeners:{
                                                expandbody: function(rowNode, record, expandRow, eOpts)
                                                            {
                                                                productItemExpandRow_{{ product.identifier }}(rowNode, record, expandRow, eOpts);
                                                            }
                                            }
                                        },
                                        //bbar:{
                                        //    xtype: 'pagingtoolbar',
                                        //    store: productItems_store,
                                        //    displayInfo: true
                                        //},
                                        tbar:{
                                            xtype: 'toolbar',
                                            items:[
                                                {
                                                    icon: '{{ STATIC_URL }}magmag_core/img/ext_icons/add.png',
                                                    text: '{% trans "Add" %}',
                                                    tooltip: '{% trans "Add new item" %}',
                                                    handler: function() {
                                                        addNewProductItem_{{ product.identifier }}(Ext.getCmp('{{ current_path }}_productItemsGrid'));
                                                    }
                                                },{
                                                    xtype: 'tbfill'
                                                }
                                            ]
                                        }
                                    }

                                ]
                            }

                        ],
                        buttons:[
                            {
                                text: '{% trans 'Save' %}',
                                handler: function(){
                                    updateProduct_{{ product.identifier }}(Ext.getCmp('{{ current_path  }}_productMainForm'));
                                }

                            },
                            {
                                text: '{% trans 'Cancel' %}',
                                handler: function(){
                                    var tab = Ext.getCmp('{{ current_path }}');
                                    if (tab)
                                    {
                                        tab.ownerCt.remove(tab.id);
                                    }
                                }
                            }
                        ]
                    }

                ]
            });
            tab.add(container);
        }
    }

//////handler///////////////////////////////////////////////////////////////////////////////////////////////////////////
function updateProduct_{{ product.identifier }}(form)
    {
        if(form)
        {
            var store = Ext.getCmp('{{ current_path }}_productItemsGrid').getStore();
            var items = [];
            Ext.Array.each(store.data.items, function(item){
                items.push(item.data);
            });
            var jsonProductItems = Ext.JSON.encode(items);


            form.getForm().submit({
                clientValidation: true,
                url: '{{ current_path }}',
                method: 'POST',
                params: {
                    action: 'update',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    product_items: jsonProductItems
                },
                success: function(form, action) {
                    var url = '{% url "magmag:dashboard:product_images"  pk='0' %}'.replace('0' , action.result.result.id);
                    commit_images(url, action.result.result.id);


                },
                failure: function(form, action) {
                    if (action.failureType == 'server')
                        alert('fail');
                }
            });



        }
        else
            alert('Save fail');
    }


    function commit_images(url, id){

        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('id', id);

        var dviewstore = Ext.getCmp('{{ current_path  }}_imagesDataView').getStore();

        formData.append('images-TOTAL_FORMS',dviewstore.data.items.length-1);
        formData.append('images-INITIAL_FORMS',dviewstore.totalCount-1);
        formData.append('images-MAX_NUM_FORMS', 1000);

        for(var i = 0; i < dviewstore.data.items.length-1; i++){
            var img = dviewstore.data.items[i];
        //Ext.Array.each(dviewstore.data.items, function(img){

            var inpId = document.getElementById('image_id_{{ product.identifier }}_'+img.data.id);
            formData.append(inpId.name, inpId.value > 0 ? inpId.value : '');
            var inpCaption = document.getElementById('image_caption_{{ product.identifier }}_'+img.data.id);
            formData.append(inpCaption.name, inpCaption.value);
            var inpFile = document.getElementById('image_input_{{ product.identifier }}_'+img.data.id);
            formData.append(inpFile.name, inpFile.files[0]);
            formData.append('images-'+i+'-display_order', i);
            var inpDelete = document.getElementById('image_deleted_{{ product.identifier }}_'+img.data.id);
            formData.append(inpDelete.name, inpDelete.checked);
        //});
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.onload = function(oEvent) {
            if (oEvent.target.status == 200) {
                var res = Ext.JSON.decode(oEvent.target.response);
                if (res.success)
                {
                    var tab = Ext.getCmp('{{ current_path }}');
                    if (tab)
                    {
                        tab.ownerCt.remove(tab.id);
                    }
                }
                else
                    Ext.Msg.show(res.msg);

            } else {
              Ext.Msg.show('{% trans "Sorry. Internal server error" %}');
            }
        };
        xhr.send(formData);
    }


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //piGrid method and handlers
    function productItemExpandRow_{{ product.identifier }}(rowNode, record, expandRow, eOpts)
    {
        var restPlaceHolder = document.getElementById('restsExpandPanel' + record.data.id);
        var strStores = Ext.data.StoreManager.lookup('stores_{{ product.identifier }}_Store');

        if (restPlaceHolder.childNodes.length == 0 && record.data.rests.length > 0) {
            var productItemRests_store = new Ext.data.Store({
            storeId: 'productItemRests_' + record.data.id + '_Store',
            model: 'ProductItemRest',
            data: record.data.rests
            });

            var cellEditing = Ext.create('Ext.grid.plugin.CellEditing', {
                clicksToEdit: 1

            });

            var panel = new Ext.panel.Panel({
                layout: 'fit',
                border: false,
                renderTo: restPlaceHolder.id,
                items:[
                    {
                        xtype: 'grid',
                        layout: 'fit',
                        id: '{{ current_path }}_product_item_rests_'+record.data.id,
                        border: false,
                        hideHeaders: true,
                        store: productItemRests_store,
                        columns:[
                                {
                                    text: '{% trans "Store" %}',
                                    flex: 1,
                                    sortable: true,
                                    dataIndex: 'store_id',
                                    field:{
                                        xtype:'combo',
                                        store: strStores,
                                        displayField: 'name',
                                        valueField: 'id',
                                        mode:'local'
                                    },
                                    renderer: function(value, metaData, record, rowIndex, colIndex, store, view){
                                        return record.data.store_name;
                                    }

                                },{
                                    text: '{% trans "Count" %}',
                                    flex: 1,
                                    sortable: true,
                                    dataIndex: 'count',
                                    editable: true,
                                    field:{
                                        xtype: 'numberfield',
                                        allowBlank: false,
                                        minValue:0
                                    }
                                }
                        ],
                        plugins:[cellEditing],
                        listeners:{
                            edit: function( editor, e, eOpts ){

                                var recordtoupdate = Ext.getCmp('{{ current_path }}_productItemsGrid').getStore().getById(e.record.data.item_id);
                                if(recordtoupdate)
                                {

                                    for(var i = 0; i < recordtoupdate.data.rests.length; i++)
                                    {
                                        if(recordtoupdate.data.rests[i].id == e.record.data.id)
                                        {
                                            recordtoupdate.data.rests[i][e.field] = e.value;
                                            if (e.field == 'store_id')
                                            {
                                                var strs = Ext.data.StoreManager.lookup('stores_{{ product.identifier }}_Store');
                                                var selected = strs.getById(e.value);
                                                recordtoupdate.data.rests[i]['store_name'] = selected.data.name;
                                                e.record.data.store_name = selected.data.name;
                                            }
                                            e.record.commit();
                                        }
                                    }
                                }
                            }
                        }

                    }
                ]
            });
        }

    }

    function addNewProductItem_{{ product.identifier }} (grid)
    {

        var rests = [];
        var strs = Ext.data.StoreManager.lookup('stores_{{ product.identifier }}_Store');
        var store = grid.getStore();
        Ext.Array.each(strs.data.items, function(s){
            rests.push(
                    {
                    id: -rests.length,
                    item_id: -store.data.length,//{{ product.identifier }},
                    store_id: s.data.id,
                    store_name: s.data.name,
                    count:0
                });
        });
        store.add(
              Ext.ModelManager.create({
                    id: -store.data.length,
                    color: '{% trans "Color" %}',
                    size: '{% trans "Size" %}',
                    rests: rests
                }, 'ProductItem')
        );
    }
/////images handlers
    function addNewProductImage_{{ product.identifier }}()
    {
        var dview = Ext.getCmp('{{ current_path  }}_imagesDataView');
        var store = dview.getStore();
        store.add(Ext.ModelManager.create({
                    id: -store.data.length,
                    src: '{{ STATIC_URL }}magmag_core/img/add_large.png',
                    caption: '',
                    order: store.data.length,
                    deleted: false
                }, 'Image'));
        //dview.refresh( );
    }

    function readURL_{{ product.identifier }}(input, imgid) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var imgprevId = 'image_{{ product.identifier }}_'+imgid;
            reader.onload = function (e) {
                document.getElementById(imgprevId).src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
            if(document.getElementById(imgprevId).src.indexOf('{{ STATIC_URL }}magmag_core/img/add_large.png') != -1)
                return true;
        }
        return false;
    }
</script>