{% load i18n %}
<script>
    //@ sourceURL={{ current_path }}.js
    Ext.onReady(init_page);
    function init_page()
    {
        var categories_store = new Ext.data.TreeStore({
            storeId: 'productCategoryTreeStore',
            model: 'Category',
            //autoLoad: true,
            proxy: {
                type: 'ajax',
                url: '{% url "magmag:dashboard:categories" "json" %}',
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            }
        });

        var productItems_store = new Ext.data.JsonStore({
            storeId: 'product_' + '{% if product.id %} {{ product.id }} {% else %} 0 {% endif %}' + '_ItemsStore',
            model: 'ProductItems',
            autoLoad: true,
            proxy: {
                type: 'ajax',
                url:{% if product.id %} '{% url "magmag:dashboard:product_items"  pk=product.id content_type="json" %}' {% else %}
                '{% url "magmag:dashboard:product_items"  pk=0 content_type="json" %}' {% endif %},
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            }

        });

        var productImages_store = new Ext.data.JsonStore({
            storeId: 'product_' + '{% if product.id %} {{ product.id }} {% else %} 0 {% endif %}' + '_ImageStore',
            model: 'Image',
            autoLoad: true,
            proxy: {
                type: 'ajax',
                url:{% if product.id %} '{% url "magmag:dashboard:product_images"  pk=product.id content_type="json" %}' {% else %}
                '{% url "magmag:dashboard:product_images"  pk=0 content_type="json" %}' {% endif %},
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'total'
                }
            },
            sorters: [
                {
                    property: 'order'
                }
            ]

        });



        categories_store.load();
        var tab = Ext.getCmp('{{ current_path }}');
        if (tab)
        {
            var container = new Ext.panel.Panel( {
                layout: 'fit',
                //title: '{% trans "Product" %}',
                id: '{{ current_path  }}_container',
                items: [
                    {
                        xtype:'panel',
                        layout: 'border',
                        items:[
                            {
                                xtype:'form',
                                id: '{{ current_path  }}_productMainForm',
                                title: '{% trans 'Main info' %}',
                                region:'center',
                                layout: {
                                        type: 'hbox',
                                        align: 'stretch'
                                },
                                border:true,
                                autoScroll:true,
                                cls:'pnlMainProductInfo',
                                items:[
                                    {
                                        xtype: 'panel',
                                        flex: 3,
                                        layout:'form',
                                        cls:'pnlFormDetail',
                                        minHeight: 280,
                                        items:[
                                            {
                                                xtype: 'hidden',
                                                id:'{{ current_path  }}_hdnId',
                                                value: {% if product.id %} {{ product.id }} {% else %} 0 {% endif %},
                                                name: 'id'
                                            },{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtName',
                                                fieldLabel: '{% trans 'Name' %}',
                                                name: 'name',
                                                value: '{{ product.name }}',
                                                allowBlank: false
                                            },{
                                                xtype: 'numberfield',
                                                id: '{{ current_path }}_numPrice',
                                                fieldLabel: '{% trans 'Price' %}',
                                                name: 'price',
                                                value: {{ product.price }},
                                                allowBlank: false
                                            },{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtArticle',
                                                fieldLabel: '{% trans 'Article' %}',
                                                name: 'article',
                                                value: '{{ product.article }}',
                                                allowBlank: false
                                            },Ext.create('Ext.ux.TreePicker', {
                                                store: categories_store,
                                                displayField: 'name',
                                                valueField: 'id',
                                                id:'{{ current_path  }}_cmbCategory',
                                                name: 'category',
                                                fieldLabel: '{% trans "Category" %}',
                                                allowBlank: false,
                                                value: {% if product.category %}{{ product.category.id }}{% else %}''{% endif %}
                                            }),{
                                                xtype: 'textfield',
                                                id:'{{ current_path  }}_txtSlug',
                                                fieldLabel: '{% trans 'Slug' %}',
                                                name: 'slug',
                                                value: '{{ product.slug }}',
                                                allowBlank: false
                                            },{
                                                xtype: 'textareafield',
                                                id:'{{ current_path  }}_txtDescription',
                                                fieldLabel: '{% trans 'Description' %}',
                                                name: 'description',
                                                value: '{{ product.descr }}'
                                            },{
                                                xtype: 'filefield',
                                                name: 'image',
                                                id: '{{ current_path  }}_ffImage',
                                                fieldLabel: '{% trans "Preview" %}',
                                                buttonText: '{% trans "Select" %}...',
                                                //labelWidth: 50,
                                                //width:270,
                                                icon: '{{ STATIC_URL }}magmag_core/img/ext_icons/image_add.png',
                                                listeners: {
                                                    change: function(uploader, value, eOpts) {
                                                        var container = Ext.getCmp('{{ current_path  }}_pnlImagePreview');
                                                        if (container){
                                                            container.removeAll(true);
                                                            readImages(uploader.fileInputEl.dom, container);
                                                        }
                                                    }
                                                },
                                                value: {% if product.image %} '{{ product.image.url }}' {% else %} '' {% endif %}
                                            },{
                                                xtype:'checkbox',
                                                id:'{{ current_path  }}_chbHidden',
                                                fieldLabel: '{% trans 'Hide from site' %}',
                                                name: 'hidden',
                                                value: {{ product.hidden|lower }}
                                            }
                                        ]
                                    },
                                    {
                                        xtype: 'panel',
                                        flex:2,
                                        cls:'pnlFormDetail',
                                        minHeight: 280,
                                        items:[
                                            {
                                                xtype: 'panel',
                                                collapsible: false,
                                                id:'{{ current_path  }}_pnlImagePreview',
                                                items:[
                                                    {
                                                        xtype:'image',
                                                        src: {% if product.image %} '{{ product.image.url }}' {% else %} '' {% endif %},
                                                        height:150
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]

                            },
                            {
                                xtype: 'panel',
                                id:'{{ current_path  }}_productImages',
                                region: 'south',
                                title:'{% trans 'Images' %}',
                                border: true,
                                height: '60%',
                                cls: 'images-view',
                                items:[
                                    {
                                        xtype: 'dataview',
                                        store: productImages_store,
                                        tpl:new Ext.XTemplate(
                                            '<tpl for=".">',
                                                '<div class="thumb-wrap upload-image">',
                                                    '<label>',
                                                        '<input type="text" id="image_caption_{id}" value="{caption}" class="x-form-field x-form-text image-caption" />',
                                                    '</label>',
                                                    '<div class="thumb image-input">',
                                                        '<img id="image_{id}" src="{src}" alt="thumbnail"/>',
                                                        '<div class="input-field">',
                                                            '<label>',
                                                                '<input type="file" id="image_input_{id}" onchange="readURL(this); addNewProductImage();"  />',
                                                            '</label>',
                                                        '</div>',
                                                    '</div>',
                                                    '<label class="image-deleted"> {% trans 'Delete:' %}',
                                                        '<input type="checkbox" id="image_deleted_{id}" value="{deleted}" class="x-form-field x-form-checkbox x-form-cb" />',
                                                    '</label>',
                                                '</div>',
                                            '</tpl>',
                                            '<div class="x-clear"></div>'
                                        ),
                                        itemSelector: 'div.thumb-wrap',
                                        emptyText: '{% trans 'No images available' %}'
                                    }
                                ],
                                trackOver: true,
                                overItemCls: 'x-item-over'


                            },
                            {
                                xtype: 'panel',
                                region: 'east',
                                width: '40%',
                                layout: 'fit',
                                id: '{{ current_path }}_productItems',
                                title: '{% trans 'Product items' %}',
                                border: true,
                                items:[
                                    {
                                        xtype:'grid',
                                        layout: 'fit',
                                        store: productItems_store,
                                        multiSelect: false,
                                        autoScroll: true,
                                        cls: 'dashboard-grid',
                                        columns: [
                                            {
                                                text: '{% trans "Color" %}',
                                                flex: 2,
                                                sortable: true,
                                                dataIndex: 'color'

                                            },{
                                                text: '{% trans "Size" %}',
                                                flex: 2,
                                                sortable: true,
                                                dataIndex: 'size'

                                            }
                                        ],
                                        plugins: [{
                                            ptype: 'rowexpander',
                                            rowBodyTpl: ['<div id="restsExpandPanel" class="ux-row-expander-box"></div>']
                                        }],
                                        viewConfig: {
                                            stripeRows: false,
                                            listeners:{
                                                expandbody: function(rowNode, record, expandRow, eOpts)
                                                            {
                                                                alert('expand');
                                                            }
                                            }
                                        },
                                        //bbar:{
                                        //    xtype: 'pagingtoolbar',
                                        //    store: productItems_store,
                                        //    displayInfo: true
                                        //},
                                        tbar:{
                                            xtype: 'toolbar',
                                            items:[
                                                {
                                                    icon: '{{ STATIC_URL }}magmag_core/img/ext_icons/add.png',
                                                    text: '{% trans "Add" %}',
                                                    tooltip: '{% trans "Add" %}',
                                                    handler: function() {
                                                        alert('add');
                                                    }
                                                },{
                                                    xtype: 'tbfill'
                                                }
                                            ]
                                        }
                                    }

                                ]
                            }

                        ],
                        buttons:[
                            {
                                text: '{% trans 'Save' %}',
                                handler: function(){
                                    updateProduct(Ext.getCmp('{{ current_path  }}_productMainForm'));
                                }

                            },
                            {
                                text: '{% trans 'Cancel' %}',
                                handler: function(){

                                }
                            }
                        ]
                    }

                ]
            });
            tab.add(container);
        }
    }

//////handler///////////////////////////////////////////////////////////////////////////////////////////////////////////
function updateProduct(form)
    {
        if(form)
        {
            form.getForm().submit({
                clientValidation: true,
                url: '{{ current_path }}',
                method: 'POST',
                params: {
                    action: 'update',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(form, action) {
                    var tab = Ext.getCmp('{{ current_path }}');
                    if (tab)
                    {
                        tab.ownerCt.remove(tab.id);
                    }
                },
                failure: function(form, action) {
                    if (action.failureType == 'server')
                        alert('fail');
                }
            });
        }
        else
            alert('Save fail');
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //piGrid method and handlers
    var purchaseItemExpandRow = function(rowNode, record, expandRow, eOpts)
    {
        alert('expand');
    }

    var addNewProductImage = function()
    {

        var dview = Ext.getCmp('{{ current_path  }}_productImages');
        var store = dview.getStore();
        store.add(Ext.ModelManager.create({
                    id: 0,
                    src: '/static/magmag_core/img/add_large.png',
                    caption: '',
                    order: 2,
                    deleted: false
                }, 'Image'));
        dview.refresh( );
    }
</script>